/* common shared google font */
body {
    font-family: 'Roboto Slab', serif;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav section css style is started */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0 25px;
    min-height: 50px;
}

.nav-logo {
    display: flex;
    gap: 15px;
}

.nav-heading {
    font-size: 2rem;
    /* font-weight: 700; */
}

.nav-heading-g {
    color: rgba(255, 0, 255, 0.872);
}

.nav-list {
    display: flex;
}

.nav-list>li {
    list-style: none;
    margin-left: 20px;
}

.fa-youtube {
    color: red;
    padding: 0px 10px;
}

.Follow-us {
    padding: 10px 35px;
    border-radius: 5px;
    background-color: silver;
}

.nav-list-other-li {
    padding: 10px 10px;
}

.fa-youtube,
.fa-tiktok {
    font-size: 20px;
}

/* nav section css style is ended */
/* goat section css style is started */
.goat-section {
    min-height: 400px;
    display: flex;
    box-shadow: inset 0px 8px 12px -6px #efecec;
}

.goat-first-heading {
    font-size: 30px;
}

.goat-second-heading {
    font-size: 65px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 255), #9400d3);
    color: transparent;
    -webkit-background-clip: text;
}

.fa-circle-play,
.fa-download {
    color: rgb(255, 0, 255);
    margin-bottom: 5px;
}

.watch,
.download {
    margin-bottom: 10px;
}

.goat-button-first {
    padding: 12px 30px;
    border-radius: 20px;
    background-color: rgb(255, 0, 255);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
}

.goat-button-second {
    padding: 12px 30px;
    border-radius: 20px;
    background-color: mediumturquoise;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.goat-section-text {
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 45%;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goat-section-sub-text {}

.goat-section-image {
    width: 55%;
    display: flex;
    justify-content: center;
}

.goat-section-image img {
    width: 70%;
    height: 100%;

}



/* goat section css style is ended */


/* media query sections */

/* for small or mobile devices */
@media screen and (max-width:576px) {

    .nav-section,
    .nav-list {
        flex-direction: column;
    }

    .goat-section {
        flex-direction: column-reverse;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }

    .goat-section-text {
        width: 90%;
        margin: 20px auto 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }


    .goat-section-image {
        width: 100%;
    }
}

/* for medium or Tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-section,
    .nav-list {
        flex-direction: column;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }

    .goat-section {
        flex-direction: column-reverse;
    }

    .goat-section-text {
        width: 90%;
        margin: 20px auto 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }

    .goat-section-image {
        width: 100%;
    }

}