/* common shared google font */
body {
    font-family: 'Roboto Slab', serif;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav css style is started */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0 30px;
    min-height: 50px;
}

.nav-logo {
    display: flex;
    gap: 15px;
}

.nav-heading {
    font-size: 2rem;
    /* font-weight: 700; */
}

.nav-heading-g {
    color: rgba(255, 0, 255, 0.872);
}

.nav-list {
    display: flex;
}

.nav-list>li {
    list-style: none;
    margin-left: 20px;
}

.fa-youtube {
    color: red;
    padding: 0px 10px;
}

.Follow-us {
    padding: 10px 35px;
    border-radius: 5px;
    background-color: silver;
}

.nav-list-other-li {
    padding: 10px 10px;
}

.fa-youtube,
.fa-tiktok {
    font-size: 20px;
}

/* nav css style is ended */

/* media query sections */

/* for small or mobile devices */
@media screen and (max-width:576px) {

    .nav-section,
    .nav-list {
        flex-direction: column;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }
}

/* for medium or Tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-section,
    .nav-list {
        flex-direction: column;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }

}