/* common shared google font */
body {
    font-family: 'Roboto Slab', serif;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav section css style is started */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0 25px;
    min-height: 50px;
}

.nav-logo {
    display: flex;
    gap: 15px;
}

.nav-heading {
    font-size: 2rem;
    /* font-weight: 700; */
}

.nav-heading-g {
    color: rgba(255, 0, 255, 0.872);
}

.nav-list {
    display: flex;
}

.nav-list>li {
    list-style: none;
    margin-left: 20px;
}

.fa-youtube {
    color: red;
    padding: 0px 10px;
}

.Follow-us {
    padding: 10px 35px;
    border-radius: 5px;
    background-color: silver;
}

.nav-list-other-li {
    padding: 10px 10px;
}

.fa-youtube,
.fa-tiktok {
    font-size: 20px;
}

/* nav section css style is ended */
/* goat section css style is started */
.goat-section {
    min-height: 400px;
    display: flex;
    box-shadow: inset 0px 8px 12px -6px #efecec;
}

.goat-first-heading {
    font-size: 30px;
}

.goat-second-heading {
    font-size: 65px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 255), #9400d3);
    color: transparent;
    -webkit-background-clip: text;
}

.fa-circle-play,
.fa-download {
    color: rgb(255, 0, 255);
    margin-bottom: 5px;
}

.watch,
.download {
    margin-bottom: 10px;
}

.goat-button-first {
    padding: 12px 30px;
    border-radius: 20px;
    background-color: rgb(255, 0, 255);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
}

.goat-button-second {
    padding: 12px 30px;
    border-radius: 20px;
    background-color: mediumturquoise;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.goat-section-text {
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 45%;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goat-section-image {
    width: 55%;
    display: flex;
    justify-content: center;
}

.goat-section-image img {
    width: 70%;
    height: 100%;

}

/* goat section css style is ended */
/* gamer section css style is started */
.gamer-section {
    background-color: hsl(240, 100%, 99%);
    min-height: 410px;
    display: flex;
    align-items: center;
}

.gamer-picture {
    width: 60%;
}

.gamer-picture img {
    width: 90%;
    height: 100%;
    /* position: right; */
    padding-left: 100px;
}

.unleash {
    width: 100%;
    font-weight: 900;
    text-align: end;
}

.gamer-text {
    width: 40%;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 110px;

}

.gamer-button {
    padding: 12px 30px;
    border-radius: 20px;
    background-color: rgb(255, 0, 255);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin: 20px 0px;
}

.gamer-introduction {
    font-size: 13px;
    text-align: end;

}

.gamer-heading {
    font-size: 35px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 255), #9400d3);
    color: transparent;
    -webkit-background-clip: text;
}

/* gamer section css style is ended */
/* online-game section css style is started */
.online-section {
    min-height: 550px;
    width: 80%;
    height: 100%;
    margin: 70px auto 10px;
}

.online-games-headline {
    text-align: center;
    font-size: 30px;
}

.funny-videos {
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 255), #9400d3);
    color: transparent;
    -webkit-background-clip: text;
}

.online-games-para {
    text-align: center;
    margin: 15px 0px;
}

.online-game-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: auto;
}

.image-card img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.image-card p {
    margin-top: 10px;
    text-align: center;
}

/* online-game section css style is ended */
/* play-instant section css style is started */
.play-instant-section {
    /* min-height: 450px; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.play-instant-text {
    width: 40%;
}

.play-instant-image {
    width: 60%;
    padding-left: 150px;
}

.play-instant-image img {
    width: 80%;
    /* position: right; */
}

.play-instant-sub-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.play-instant-para {
    width: 50%;
    text-align: end;
    font-size: 15px
        /* min-height: 200px; */
}

.sub-image {
    height: 270px;
    width: 200px;
    position: relative;
    bottom: 200px;
    right: 60px;
}

.sub-image img {
    height: 100%;
    width: 100%;
}

.play-instant-heading {
    font-size: 30px;
    padding-bottom: 20px;
}

.color-heading {
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 255), #9400d3);
    color: transparent;
    -webkit-background-clip: text;
}


/* play-instant section css style is ended */
/* icon-button section css style is started */
.icon-button-section {
    background-color: oldlace;
    padding: 60px 0px;
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
}

.icon-button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 40px;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: border 2s border-color 2s linear;
    transition: transform 0.5s linear;
}

.icon-button:hover {
    border: 2px solid;
    border-color: rgb(255, 0, 255);
    transform: scale(1.05);
}

.icon-button img {
    width: 40px;
    height: 40px;
    position: relative;
    right: 5px;
    top: 2px;
}

.button-text {
    font-size: 12px;
    position: relative;
    bottom: 10px;
    font-weight: 900;
}

.button-text:hover {
    color: rgb(255, 0, 255);
}


/* icon-button section css style is ended*/
/* footer section css style is started*/
.footer-section {
    min-height: 450px;
    background-color: #030321;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 30px;
}

.footer-logo {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-heading {
    font-size: 30px;
}

.footer-heading-g {
    color: rgba(255, 0, 255, 0.872);
}

.footer-items {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-items p {
    color: white;
    font-size: 15px;
}

.footer-amer {
    color: white;
}

.footer-social-media {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-social-media i {
    font-size: 25px;
    color: white;
}

.footer-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.footer-text p {
    color: white;
    font-size: 15px;
}

.footer-copyright {
    color: white;
    text-align: center;
    font-size: 15px;
}


/* footer section css style is ended*/


/* media query sections */

/* for small or mobile devices */
@media screen and (max-width:576px) {

    .nav-section,
    .nav-list,
    .gamer-section,
    .play-instant-section {
        flex-direction: column;
    }

    .goat-section {
        flex-direction: column-reverse;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }

    .goat-section-text {
        width: 90%;
        margin: 20px auto 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }


    .goat-section-image {
        width: 100%;
    }

    .gamer-picture {
        width: 100%;
    }

    .gamer-picture img {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .gamer-text {
        width: 100%;
        min-height: 450px;
        padding-right: 0;
        align-items: center;
        justify-content: center;

    }

    .gamer-introduction {
        text-align: center;
        padding: 10px;
        width: 80%;
        margin: 0 auto;

    }

    .unleash {
        text-align: center;
        margin-top: 10px;

    }

    .online-game-card {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }

    .online-section {
        margin: 40px auto 60px;
    }

    .image-card img {
        padding-top: 50px;
        margin-top: 0px;
    }

    .online-games-para {
        text-align: center;
        margin-top: 15px;
    }

    .play-instant-text {
        width: 90%;
    }

    .play-instant-image {
        width: 100%;
        padding: 20px;
    }

    .play-instant-image img {
        width: 100%;
        /* padding: 20px 10px; */

    }

    .play-instant-sub-text {

        align-items: center;
        justify-content: center;
    }

    .play-instant-para {
        width: 70%;
        text-align: center;
    }

    .sub-image {
        right: 30px;
    }

}

/* for medium or Tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-section,
    .nav-list,
    .gamer-section,
    .play-instant-section {
        flex-direction: column;
    }

    .nav-logo {
        margin: 20px 0 30px;
    }

    .nav-list>li {

        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list>li {
        margin-left: 0px;
    }

    .goat-section {
        flex-direction: column-reverse;
    }

    .goat-section-text {
        width: 90%;
        margin: 20px auto 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }

    .goat-section-image {
        width: 100%;
    }

    .gamer-picture {
        width: 100%;
    }

    .gamer-picture img {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    .gamer-text {
        width: 100%;
        min-height: 450px;
        padding-right: 0;
        align-items: center;
        justify-content: center;

    }

    .gamer-introduction {
        text-align: center;
        padding: 10px;
        width: 80%;
        margin: 0 auto;

    }

    .unleash {
        text-align: center;
        margin-top: 10px;

    }

    .online-game-card {
        grid-template-columns: repeat(2, 1fr);
    }


    .online-section {
        margin: 40px auto 60px;
    }

    .image-card img {
        padding-top: 50px;
        margin-top: 0px;
    }

    .play-instant-text {
        width: 90%;
    }

    .play-instant-image {
        width: 100%;
        padding: 20px;
    }

    .play-instant-image img {
        width: 100%;
        /* padding: 20px 10px; */

    }

    .play-instant-sub-text {

        align-items: center;
        justify-content: center;
    }

    .play-instant-para {
        width: 70%;
        text-align: center;
    }

    .sub-image {
        right: 30px;
    }



}